.style {
    display: flex;
    flex-direction: row;
    padding: 25px 70px;
    /* align-items: center;
    justify-content: center; */
}

.style2 {
    display: flex;
    flex-direction: column;
    padding: 10px 70px;
    align-items: end;
}


.social {
    font-size: 16px;
    color: white;
}